[submodule "packages/vault-sdk"]
	path = packages/vault-sdk
	url = git@github.com:mercurial-finance/vault-sdk.git
[submodule "packages/dynamic-amm-sdk"]
	path = packages/dynamic-amm-sdk
	url = git@github.com:mercurial-finance/mercurial-dynamic-amm-sdk.git
[submodule "packages/farm-sdk"]
	path = packages/farm-sdk
	url = git@github.com:MeteoraAg/reward-pool.git
